<h1>Perfil de Usuario</h1>

<div>
    <p><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Edad:</strong> {{user.age}}</p>
    <p><strong>Rol:</strong> {{user.role}}</p>
    <p><strong>ID del carrito:</strong> {{user.cart}}</p>
</div>